You chose <%=opponent%>

<%=board%>
<table>
	<tr>
		<td>X</td>
		<td>X</td>
		<td>X</td>
	</tr>
	<tr>
		<td>X</td>
		<td>X</td>
		<td>X</td>
	</tr>
	<tr>
		<td>X</td>
		<td>X</td>
		<td>X</td>
	</tr>
</table>