<html>
<h1>Welcome to Tic Tac Toe</h1>
<h2>Please select the difficulty you wish to play against.</h2>
<form action='difficulty' method='post'>
	<select name='opponent'>
	    <option value='human'>Human</option>
	    <option value='sequential'>Easy</option>
	    <option value='random'>Medium</option>
	    <option value='unbeatable'>Impossible!</option>
	</select>
	    <input type="submit" value="Submit">
	
</form>





</html>