<html>
<h1>Welcome to Tic Tac Toe</h1>
<h2>Please select the difficulty you wish to play against.</h2>
	<form action='/get_opponent' method='post'>
		<select name='opponent'>
		    <option value='Human'>Human</option>
		    <option value='Easy'>Easy</option>
		    <option value='Medium'>Medium</option>
		    <option value='Impossible!'>Impossible!</option>
		</select>
		    <input type="submit" value="Submit">
		
	</form>





</html>